@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Glegoo;

}
/* header */
header{
    display:flex;
    flex-direction: row;
    position:relative;
    top:0;
    justify-content: space-between;
    box-shadow:2px 2px 2px black;
    box-sizing: border-box;
    height:90px;
    background-color: blue;
    width:100%;
    align-items: center;
    color: white;

}
nav{
    display: flex;
    flex-direction: row;

}
nav ul{
    list-style-type:none;
}
nav ul li{
    display: inline;
    padding-right: 10px;
}
.follow-us{
    display: flex;
    flex-direction: row;
    padding:5px;



}
.follow-us img{
    width:40px;
    height:4opx;
    border-radius: 50%;
    margin:5px;


}
 /* main content */

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    width:90%


}
.workshop{
    margin:20px;
    width:100%;
    background-color: lightgray;
    border-radius: 10px;

     
}
.workshop h2{
     
     padding-left:20px;

}
.workshop p{
    padding-left:20px;
}
.instruction{
    width:100%;
    display:block;
}
.section{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    min-height: 500px;
    max-height:550px;
    gap:10px;
    width:100%;
   

}
.section-left{
    display:flex;
    height: 100%;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: scroll;
  
    border-radius: 10px;
    background-color:lightblue;
    
    
}
.section-left img{
    width:100%;
    height: 50px;

}
.section-left ol {
    list-style-type: lower-roman;



}
.section-left ol li{
    margin:20px;
}
.section-right{
    display:flex;
    flex-direction: column;
    
    height:100%;
    border-radius: 10px;
    background-color:lightpink;
    overflow-x: scroll;
    overflow-y: scroll;
    
    
    
}
.section-right ul{
    list-style-type: circle;
}
.section-right ul li{
    border-bottom: 1px solid black;
    padding:10px;
    margin:10px;

}

.suscribe{
    display: flex;
    flex-direction: row;
   height: 200px;
   align-items: center;
    justify-content: center;
    background-color:black;
    color:white;
    width:100%;
    margin-bottom:10px;
    margin-top:30px;
}
.suscribe form h1{
    align-self: center;
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
    bottom:0;
    height:80px;
    width:100%;
    color:white;


}

